{{!< default}}

<main id="home-wrapper" class="center">

  <header id="home-header">
    <a href="/"><img id="fink-logo" src="{{asset "images/logo.png"}}" alt="fink logo" class="buzz"></a>
    <h1>URL Shortener for Masses</h1>
  </header>

  {{{content}}}

  <footer id="home-footer">
    <a href="" title="What?">Explain me</a>
  </footer>

</main>


