{{!< default}}

<main id="root" class="margin-top container center">

  <header id="home-header">
    <a rel="nofollow" href="/">
      <img id="fink-logo" src="{{asset "images/logo.png"}}" alt="fink logo" class="buzz">
    </a>
    <h1>URL Shortener for Masses</h1>
  </header>

  {{{content}}}

</main>
