<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- TODO: Add twitter card meta --}}
    {{!-- TODO: Add facebook meta --}}
    {{!-- TODO: Add favicon --}}

    {{> scripts/head}}
  </head>
  <body>
    {{{body}}}
    {{> scripts/footer}}
  </body>
</html>
