{{!< default}}

<main id="search-wrapper">

<header id="header-container" class="center">
  <h1 class="page-title t-center">SHORTEN. SHARE. MEASURE.</h1>
  <div class="join-bitly t-center">Join Bitly, the world's leading link management platform.</div>
</header>

<section id="search-container" class="container center">
  <form id="form-search">
    <fieldset>
      <label id="search-label"  for="searchField">Name</label>
      <input id="search-field" type="search" taborder="1" placeholder="Paste a link to shorten it" autofocus>
      <input id="search-button" class="button-primary" type="submit" taborder="2" value="shorten" >
    </fieldset>
  </form>
</section>
</main>
