{{!< default}}

<main id="home-wrapper" class="center">

  <header id="home-header">
    <img id="fink-logo" src="{{asset "images/logo.png"}}" alt="fink logo">
    <h1>URL Shortener for Masses</h1>
  </header>

  <section id="search-container" class="container">
    <form id="form-search">
      <fieldset>
        <label id="search-label"  for="searchField">Name</label>
        <input id="search-field" type="search" taborder="1" placeholder="Paste a link to shorten it" autofocus>
        <input id="search-button" class="button-primary" type="submit" taborder="2" value="shorten" >
      </fieldset>
    </form>
  </section>

  <footer id="home-footer">
    <a href="" title="What?">Explain me</a>
  </footer>

</main>


