#fink-logo,
#shorten-results {
  margin-bottom: $unit * 3;
}

#home-wrapper {
  margin-top: 10%;
}

#shorten-search {
  max-width: 80rem;
}

#shorten-label {
  display: none;
}

#shorten-field {
  width: 100%;
  height: 6rem;
  padding: 14.4px 23px;
}

#shorten-button {
  height: 6rem;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0;
  right: $unit * 2;

  &.in-action {
    opacity: 1;
    padding-right: 56px;
    transition: 0.3s cubic-bezier(.175, .885, .32, 1.275) padding,
                0.3s cubic-bezier(.175, .885, .32, 1.275) right;
  }
}

.shorten-box {
  width: 36rem !important;
  display: inline-block;
}

.shorten-text {
  font-family: $code-font;
  color: lighten($gray, 25%);
}

.copy-button {
  height: 38px;
  width: 45px;
  padding: 0;
  position: relative;
  right: 0;
  bottom: 0;
  left: 137px;
  top: -53px;
  margin: 0;
}

.copy-clipboard {
  width: 20px;
  margin-top: 9px;
}
