#home-footer {
  margin: $unit * 1.5 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#fink-logo,
#home-container {
  margin-bottom: $unit * 1;
}

#home-wrapper {
  margin-top: 8%;
}

#shorten-container {
  max-width: 80rem;
}

#shorten-label {
  display: none;
}

#shorten-field {
  width: 100%;
  height: 6rem;
  padding: 14.4px 23px;
}

#shorten-button {
  height: 6rem;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0;
  right: $unit * 2;

  &.in-action {
    opacity: 1;
    padding-right: 56px;
    transition: 0.3s cubic-bezier(.175, .885, .32, 1.275) padding,
                0.3s cubic-bezier(.175, .885, .32, 1.275) right;
  }
}

#shorten-link {
  width: 40rem;
  display: inline-block;
}

.shorten-text {
  font-family: $code-font;
  color: lighten($gray, 25%)
}

.copy-button {
  height: 38px;
  width: 45px;
  padding: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 30px;
  right: 2rem;
}

.copy-clipboard {
  width: 20px;
  margin-top: 9px;
}
