<!doctype html>
<html lang="en">
  <head>
    <title>Fink | {{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- TODO: Add twitter card meta --}}
    {{!-- TODO: Add facebook meta --}}
    {{!-- TODO: Add favicon --}}

    <link rel="canonical" href="{{url_canonical}}">

    {{> scripts/head}}
  </head>
  <body>
    {{{body}}}

    <footer class="center">
      <a href="" title="What?">About</a>
      <a href="" title="What?">Contact</a>


      {{#unless isHome}}
        <a href="" title="What?">🐀</a>
      {{/unless}}
    </footer>

    {{> scripts/footer}}
  </body>
</html>
