::-moz-selection { background: yellow; }
::selection { background: yellow; }

html,
input {
  cursor: -webkit-image-set( url('../images/cursor@1x.png') 1x, url('../images/cursor@2x.png') 2x ), auto;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;

  > a {
    margin: 1rem;
  }
}

li {
  margin-left: 1.5rem;
}
