.absolute {
  position: absolute;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 10% !important;
}

.margin-bottom {
  margin-bottom: 6rem !important;
}
